# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.venv/

# Env
.env
.env.*

# Logs
*.log
bot.stdout.log
bot.stderr.log

# IDE
.vscode/
.idea/

# Local tooling
.mirrord/
